@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;  
}
div {
    justify-content: center;
    margin: 100px;
    padding: 50px;
    background: rgb(56, 55, 55);
}
ul {
    color: blanchedalmond;
}
input {
    border-radius: 6px;
    border: 5px;
    width: 120px;
    height: 30px;
}
a {
    position: relative;
    margin: 20px;
    padding: 5px 20px;
    color: white;
    background: linear-gradient(90deg, #03356b, #04cfee);
    border-radius: 10px;
    border: none;
    font-size: 17px;
    overflow: hidden;
    text-decoration: none;
}
b {
    position: relative;
    left:20px ;
    margin: 20px;
    padding: 0px 8px;
    color: white;
    background: red;
    border-radius: 10px;
    border: none;
    font-size: 13px;
    text-decoration: none; 
}

span {
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 0.5s linear infinite;
}
@keyframes animate {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.2;
    }
    100% {
        width: 500px;
        height: 500px;
        opacity: 0.2;

    }
}